@model IEnumerable<OneStopMiniProject.Models.HospitalDetails>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<fieldset>
    <legend>
        @if (Session["name"] != null)
        {
            <text>
                <h6>@Html.ActionLink("Logout", "Logout", "Admin")</h6>
                Welcome!@Session["name"].ToString();
            </text>
        }
    </legend>
</fieldset>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HospitalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HospitalCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HospitalState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Certification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Operations)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Achivements)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Facilities)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Approved)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HospitalName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HospitalCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HospitalState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Certification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Operations)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Achivements)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Facilities)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Approved)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HospitalID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HospitalID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HospitalID })
        </td>
    </tr>
}

</table>
