@model IEnumerable<OneStopMiniProject.Models.HospitalAdmin>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.hadmin_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hadmin_password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.hadmin_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hadmin_password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.hospitaladmin_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.hospitaladmin_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.hospitaladmin_id })
        </td>
    </tr>
}

</table>
