@model IEnumerable<OneStopMiniProject.Models.Question>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ease)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fast)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Overall)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Suggestions)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ease)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fast)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Overall)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Suggestions)
        </td>
        <td>
           
            @Html.ActionLink("Delete", "Delete", new { id=item.que_id })
        </td>
    </tr>
}

</table>
